<%- include('header.ejs', {title:'Almanac', hasTime: true}) %>
<div class="main has-scroll almanac">
  <div class="sun">
    <div class="days">
      <div class="day"></div>
      <div class="day day-1">Monday</div>
      <div class="day day-2">Tuesday</div>
    </div>
    <div class="times times-1">
      <div class="name">Sunrise:</div>
      <div class="sun-time rise-1">6:24 am</div>
      <div class="sun-time rise-2">6:25 am</div>
    </div>
    <div class="times times-2">
      <div class="name">Sunset:</div>
      <div class="sun-time set-1">6:24 am</div>
      <div class="sun-time set-2">6:25 am</div>
    </div>
  </div>
  <div class="moon">
    <div class="title">Moon Data:</div>
    <div class="days">
      <div class="day template">
        <div class="type"></div>
        <div class="icon"><img /></div>
        <div class="date"></div>
      </div>
    </div>
  </div>
</div>
<%- include('scroll.ejs') %>