<%- include('header.ejs', {titleDual:{ top: 'Current' , bottom: 'Conditions' }, noaaLogo: true}) %>
	<div class="main has-scroll current-weather">
		<div class="left col template">
			<div class="temp center">79</div>
			<div class="condition center">Mostly Cloudy</div>
			<div class="icon center"><img src="images/CC_PartlyCloudy1.gif" /></div>
			<div class="wind-container">
				<div class="wind-label">Wind:</div>
				<div class="wind">WNW 11</div>
			</div>
			<div class="wind-gusts">Gusts to 22</div>
		</div>
		<div class="right col template">
			<div class="location">Chicago / West Chica</div>
			<div class="row">
				<div class="label">Humidity:</div>
				<div class="humidity value">47%</div>
			</div>
			<div class="row">
				<div class="label">Dewpoint:</div>
				<div class="dewpoint value">57%</div>
			</div>
			<div class="row">
				<div class="label">Ceiling:</div>
				<div class="ceiling value">5000ft.</div>
			</div>
			<div class="row">
				<div class="label">Visibility:</div>
				<div class="visibility value">10 mi.</div>
			</div>
			<div class="row">
				<div class="label">Pressure:</div>
				<div class="pressure value">30.05</div>
			</div>
		</div>
	</div>
	<%- include('scroll.ejs') %>