<div class="header">
	<div class="logo"><img src="images/Logo3.png"/></div>
	<div class="title single"><%-title %></div>
	<div class="date-time" id="time">12:00:00PM</div>
	<div class="date-time" id="date">MON JAN  1</div>
</div>