<%- include('header.ejs', {titleDual:{ top: 'Local' , bottom: 'Forecast' }, hasTime: true, noaaLogo: true}) %>
	<div class="main has-scroll has-box local-forecast">
		<div class="container">
			<div class="forecasts">
				<div class="forecast template">
					<div class="text">
					</div>
				</div>
			</div>
		</div>
	</div>
	<%- include('scroll.ejs') %>