<%- include('header.ejs', {titleDual:{ top: 'Personal' , bottom: 'Weather Station' }, noaaLogo: false, hasTime: true}) %>
<div class="main has-scroll has-box personal-weather">
  <div class="weather template">
    <div class="deviceName value"></div>
    <div class="deviceLocation value"></div>
    <div class="temp value"></div>
    <div class="row">
      <div class="label">Humidity:</div>
      <div class="humidity value"></div>
    </div>
    <div class="row">
      <div class="label">Wind:</div>
      <div class="wind value"></div>
    </div>
    <div class="row">
      <div class="label">Pressure:</div>
      <div class="pressure value"></div>
    </div>
    <div class="row">
      <div class="label">Daily Rain:</div>
      <div class="dailyRain value"></div>
    </div>
    <div class="timestamp value">At 12:34:55 PM</div>
  </div>
</div>