node_modules
**/debug.log
server/scripts/custom.js

#music folder
server/music/*
#except for the readme
!server/music/readme.txt
#and the sample songs
!server/music/default

#dist folder
dist/*
!dist/readme.txt

#environment variables
.env