<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta charset="utf-8" />
	<link rel="preload" href="fonts/Star4000.woff" as="font" crossorigin="anonymous" />
    <link rel="preload" href="fonts/Star 4 Radar.woff" as="font" crossorigin="anonymous" />
    <link rel="preload" href="fonts/Star4000 Extended.woff" as="font" crossorigin="anonymous" />
    <link rel="preload" href="fonts/Star4000 Large Compressed.woff" as="font" crossorigin="anonymous" />
    <link rel="preload" href="fonts/Star4000 Large.woff" as="font" crossorigin="anonymous" />
	<link rel="preload" href="fonts/Star4000 Small.woff" as="font" crossorigin="anonymous" />
	<% if (production) { %>
	<link rel="stylesheet" type="text/css" href="resources/twc3.min.css?_=<%=production%>">
    <script type="text/javascript" src="resources/data.min.js"></script>
    <script type="text/javascript" src="resources/ws.min.js?_=<%=production%>"></script>
	<% } else { %>
	<link rel="stylesheet" type="text/css" href="styles/twc3.css">
    <script type="text/javascript" src="scripts/vendor/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="scripts/vendor/libgif.js"></script>
    <script type="text/javascript" src="scripts/vendor/luxon.js"></script>
    <script type="text/javascript" src="scripts/vendor/suncalc.js"></script>
    <script type="text/javascript" src="scripts/data/travelcities.js"></script>
    <script type="text/javascript" src="scripts/data/regionalcities.js"></script>
    <script type="text/javascript" src="scripts/data/stations.js"></script>
    <script type="text/javascript" src="scripts/modules/draw.js"></script>
    <script type="text/javascript" src="scripts/modules/weatherdisplay.js"></script>
    <script type="text/javascript" src="scripts/modules/icons.js"></script>
    <script type="text/javascript" src="scripts/modules/utilities.js"></script>
    <script type="text/javascript" src="scripts/modules/currentweather.js"></script>
    <script type="text/javascript" src="scripts/modules/latestobservations.js"></script>
    <script type="text/javascript" src="scripts/modules/travelforecast.js"></script>
    <script type="text/javascript" src="scripts/modules/regionalforecast.js"></script>
    <script type="text/javascript" src="scripts/modules/localforecast.js"></script>
    <script type="text/javascript" src="scripts/modules/extendedforecast.js"></script>
    <script type="text/javascript" src="scripts/modules/almanac.js"></script>
    <script type="text/javascript" src="scripts/modules/radar.js"></script>
	<script type="text/javascript" src="scripts/modules/navigation.js"></script>
	<% } %>
</head>
<body>
	<div id="container">
    	<canvas id="progressCanvas" width="640" height="480"></canvas>
	</div>
   
</body>
</html>
