$title-color: yellow;
$date-time: white;
$text-shadow: black;
$column-header-text: yellow;
$column-header: rgb(32, 0, 87);

$gradient-main-background-1: #102080;
$gradient-main-background-2: #001040;

$gradient-loading-1: #09246f;
$gradient-loading-2: #364ac0;
$gradient-loading-3: #4f99f9;
$gradient-loading-4: #8ffdfa;

$extended-low: #8080FF;

$blue-box: #26235a;