// standard positioning
$standard-width: 640px;
$standard-height: 480px;

// height with scroll
$standard-scroll-height: 310px;

// blue box size
$blue-box-margin: 64px;

// wide screen positioning
$wide-padding: 107px;
$wide-margin: 107px;
$wide-width: 854px;