.weather-display {
  width: 640px;
  height: 480px;
  overflow: hidden;
  position: relative;
  background-image: url(../images/BackGround1_1.png);
  /* this method is required to hide blocks so they can be measured while off screen */
  height: 0px;
}
.weather-display.show {
  height: 480px;
}
.weather-display .template {
  display: none;
}
.weather-display .header {
  width: 640px;
  height: 60px;
  padding-top: 30px;
}
.weather-display .header .title {
  color: yellow;
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
  font-family: "Star4000";
  font-size: 24pt;
  position: absolute;
  width: 250px;
}
.weather-display .header .title.single {
  left: 170px;
  top: 25px;
}
.weather-display .header .title.dual {
  left: 170px;
}
.weather-display .header .title.dual > div {
  position: absolute;
}
.weather-display .header .title.dual .top {
  top: -3px;
}
.weather-display .header .title.dual .bottom {
  top: 26px;
}
.weather-display .header .logo {
  top: 30px;
  left: 50px;
  position: absolute;
  z-index: 10;
}
.weather-display .header .noaa-logo {
  position: absolute;
  top: 39px;
  left: 356px;
}
.weather-display .header .title.single {
  top: 40px;
}
.weather-display .header .date-time {
  white-space: pre;
  color: white;
  font-family: "Star4000 Small";
  font-size: 24pt;
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
  left: 415px;
  width: 170px;
  text-align: right;
  position: absolute;
}
.weather-display .header .date-time.date {
  padding-top: 22px;
}
.weather-display .main {
  position: relative;
}
.weather-display .main.has-scroll {
  width: 640px;
  height: 310px;
  overflow: hidden;
}
.weather-display .main.has-box {
  margin-left: 64px;
  margin-right: 64px;
  width: calc(100% - 128px);
}
.weather-display .scroll {
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
  width: 640px;
  height: 80px;
  overflow: hidden;
  margin-top: 10px;
}
.weather-display .scroll .fixed {
  font-family: "Star4000";
  font-size: 24pt;
  margin-left: 55px;
}

.weather-display .main.hourly.main {
  overflow-y: hidden;
}
.weather-display .main.hourly.main .column-headers {
  background-color: rgb(32, 0, 87);
  height: 20px;
  position: absolute;
  width: 100%;
}
.weather-display .main.hourly.main .column-headers {
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  z-index: 5;
}
.weather-display .main.hourly.main .column-headers div {
  display: inline-block;
  font-family: "Star4000 Small";
  font-size: 24pt;
  color: yellow;
  position: absolute;
  top: -14px;
  z-index: 5;
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
}
.weather-display .main.hourly.main .column-headers .temp {
  left: 355px;
}
.weather-display .main.hourly.main .column-headers .like {
  left: 435px;
}
.weather-display .main.hourly.main .column-headers .wind {
  left: 535px;
}
.weather-display .main.hourly.main .hourly-lines {
  min-height: 338px;
  padding-top: 10px;
  background: repeating-linear-gradient(0deg, #001040 0px, #102080 136px, #102080 202px, #001040 338px);
}
.weather-display .main.hourly.main .hourly-lines .hourly-row {
  font-family: "Star4000 Large";
  font-size: 24pt;
  height: 72px;
  color: yellow;
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
  position: relative;
}
.weather-display .main.hourly.main .hourly-lines .hourly-row > div {
  position: absolute;
  white-space: pre;
  top: 8px;
}
.weather-display .main.hourly.main .hourly-lines .hourly-row .hour {
  left: 25px;
}
.weather-display .main.hourly.main .hourly-lines .hourly-row .icon {
  left: 255px;
  width: 70px;
  text-align: center;
  top: unset;
}
.weather-display .main.hourly.main .hourly-lines .hourly-row .temp {
  left: 355px;
}
.weather-display .main.hourly.main .hourly-lines .hourly-row .like {
  left: 425px;
}
.weather-display .main.hourly.main .hourly-lines .hourly-row .wind {
  left: 505px;
  width: 100px;
  text-align: right;
}

.weather-display .main.current-weather.main .col {
  height: 50px;
  width: 255px;
  display: inline-block;
  margin-top: 10px;
  position: absolute;
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
}
.weather-display .main.current-weather.main .col.left {
  font-family: "Star4000 Extended";
  font-size: 24pt;
}
.weather-display .main.current-weather.main .col.right {
  right: 0px;
  font-family: "Star4000 Large";
  font-size: 20px;
  font-weight: bold;
}
.weather-display .main.current-weather.main .col.right .row {
  margin-bottom: 12px;
}
.weather-display .main.current-weather.main .col.right .row .label,
.weather-display .main.current-weather.main .col.right .row .value {
  display: inline-block;
}
.weather-display .main.current-weather.main .col.right .row .label {
  margin-left: 20px;
}
.weather-display .main.current-weather.main .col.right .row .value {
  float: right;
  margin-right: 10px;
}
.weather-display .main.current-weather.main .center {
  text-align: center;
}
.weather-display .main.current-weather.main .temp {
  font-family: "Star4000 Large";
  font-size: 24pt;
}
.weather-display .main.current-weather.main .icon {
  height: 100px;
}
.weather-display .main.current-weather.main .icon img {
  max-width: 126px;
}
.weather-display .main.current-weather.main .wind-container {
  margin-bottom: 10px;
}
.weather-display .main.current-weather.main .wind-container > div {
  width: 45%;
  display: inline-block;
  margin: 0px;
}
.weather-display .main.current-weather.main .wind-container .wind-label {
  margin-left: 5px;
}
.weather-display .main.current-weather.main .wind-container .wind {
  text-align: right;
}
.weather-display .main.current-weather.main .wind-gusts {
  margin-left: 5px;
}
.weather-display .main.current-weather.main .location {
  color: yellow;
  margin-bottom: 10px;
}

.weather-display .local-forecast .container {
  position: relative;
  top: 15px;
  margin: 0px 10px;
  box-sizing: border-box;
  height: 280px;
  overflow: hidden;
}
.weather-display .local-forecast .forecasts {
  position: relative;
}
.weather-display .local-forecast .forecast {
  font-family: "Star4000";
  font-size: 24pt;
  text-transform: uppercase;
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
  min-height: 280px;
  line-height: 40px;
}

.weather-display .latest-observations.main {
  overflow-y: hidden;
}
.weather-display .latest-observations.main .column-headers {
  height: 20px;
  position: absolute;
  width: 100%;
}
.weather-display .latest-observations.main .column-headers {
  top: 0px;
}
.weather-display .latest-observations.main .column-headers div {
  display: inline-block;
  font-family: "Star4000 Small";
  font-size: 24pt;
  position: absolute;
  top: -14px;
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
}
.weather-display .latest-observations.main .column-headers .temp {
  display: none;
}
.weather-display .latest-observations.main .column-headers .temp.show {
  display: inline-block;
}
.weather-display .latest-observations.main .temp {
  left: 230px;
}
.weather-display .latest-observations.main .weather {
  left: 280px;
}
.weather-display .latest-observations.main .wind {
  left: 430px;
}
.weather-display .latest-observations.main .observation-lines {
  min-height: 338px;
  padding-top: 10px;
}
.weather-display .latest-observations.main .observation-lines .observation-row {
  font-family: "Star4000";
  font-size: 24pt;
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
  position: relative;
  height: 40px;
}
.weather-display .latest-observations.main .observation-lines .observation-row > div {
  position: absolute;
  top: 8px;
}
.weather-display .latest-observations.main .observation-lines .observation-row .wind {
  white-space: pre;
  text-align: right;
}

#regional-forecast-html.weather-display {
  background-image: url("../images/BackGround5_1.png");
}

.weather-display .main.regional-forecast {
  position: relative;
}
.weather-display .main.regional-forecast .map {
  position: absolute;
}
.weather-display .main.regional-forecast .location {
  position: absolute;
  width: 140px;
  margin-left: -40px;
  margin-top: -35px;
}
.weather-display .main.regional-forecast .location > div {
  position: absolute;
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
}
.weather-display .main.regional-forecast .location .icon {
  top: 26px;
  left: 44px;
}
.weather-display .main.regional-forecast .location .icon img {
  max-height: 32px;
}
.weather-display .main.regional-forecast .location .temp {
  font-family: "Star4000 Large Compressed";
  font-size: 28px;
  color: yellow;
  top: 32px;
  text-align: right;
  width: 40px;
}
.weather-display .main.regional-forecast .location .city {
  font-family: Star4000;
  font-size: 20px;
}

#extended-forecast-html.weather-display {
  background-image: url("../images/BackGround2_1.png");
}

.weather-display .main.extended-forecast .day-container {
  margin-top: 16px;
  margin-left: 27px;
}
.weather-display .main.extended-forecast .day {
  /* eventually, when chrome supports paint-order for html elements */
  /* -webkit-text-stroke: 2px black; */
  /* paint-order: stroke fill; */
  text-shadow: 3px 3px 0 black, -1.5px -1.5px 0 black, 0 -1.5px 0 black, 1.5px -1.5px 0 black, 1.5px 0 0 black, 1.5px 1.5px 0 black, 0 1.5px 0 black, -1.5px 1.5px 0 black, -1.5px 0 0 black;
  padding: 5px;
  height: 285px;
  width: 155px;
  display: inline-block;
  margin: 0px 15px;
  font-family: "Star4000";
  font-size: 24pt;
}
.weather-display .main.extended-forecast .day .date {
  text-transform: uppercase;
  text-align: center;
  color: yellow;
}
.weather-display .main.extended-forecast .day .condition {
  text-align: center;
  height: 74px;
  margin-top: 10px;
}
.weather-display .main.extended-forecast .day .icon {
  text-align: center;
  height: 75px;
}
.weather-display .main.extended-forecast .day .icon img {
  max-height: 75px;
}
.weather-display .main.extended-forecast .day .temperatures {
  width: 100%;
  margin-top: 5px;
}
.weather-display .main.extended-forecast .day .temperatures .temperature-block {
  display: inline-block;
  width: 44%;
}
.weather-display .main.extended-forecast .day .temperatures .temperature-block > div {
  text-align: center;
}
.weather-display .main.extended-forecast .day .temperatures .temperature-block .value {
  font-family: "Star4000 Large";
  margin-top: 4px;
}
.weather-display .main.extended-forecast .day .temperatures .temperature-block.lo .label {
  color: #8080FF;
}
.weather-display .main.extended-forecast .day .temperatures .temperature-block.hi .label {
  color: yellow;
}/*# sourceMappingURL=compiled.css.map */