@font-face 
{
    font-family: "Star4000";
    src: url('../fonts/Star4000.woff') format('woff');
    /*font-weight: bold;
    font-style: italic;*/
}
@font-face 
{
    font-family: "Star 4 Radar";
    src: url('../fonts/Star 4 Radar.woff') format('woff');
}
@font-face 
{
    font-family: 'Star4000 Extended';
    src: url('../fonts/Star4000 Extended.woff') format('woff');
}
@font-face 
{
    /*font-family: 'Star4000 Large Compressed Numbers';*/
    font-family: 'Star4000LCN';
    /*src: url('../fonts/Star4000 Large Compressed Numbers.woff') format('woff');*/
    src: url('../fonts/Star4000LCN.woff') format('woff');
}
@font-face
 {
    font-family: 'Star4000 Large Compressed';
    src: url('../fonts/Star4000 Large Compressed.woff') format('woff');
}
@font-face 
{
    font-family: 'Star4000 Large';
    src: url('../fonts/Star4000 Large.woff') format('woff');
}
@font-face
 {
    font-family: 'Star4000 Small';
    src: url('../fonts/Star4000 Small.woff') format('woff');
}

body
{
    font-family: "Star4000";
    margin: 0 0 0 0;
    overflow: hidden;
}

input
{
    font-family: "Star4000";
}

jsgif
{
    display: none;
}

.fontPreload {
	visibility: hidden;
	position: absolute;
}
#Star4000
{
    font-family: 'Star4000';
}
#Star4000Extended
{
    font-family: 'Star4000 Extended';
}
#Star4000LargeCompressed
{
    font-family: 'Star4000 Large Compressed';
}
#Star4000Large
{
    font-family: 'Star4000 Large';
}
#Star4000LargeCompressedNumbers
{
    font-family: 'Star4000LCN';
}
#Star4000Small
{
    font-family: 'Star4000 Small';
}
#Star4Radar
{
    font-family: 'Star 4 Radar';
}

.HideCursor
{
    cursor: none !important;
}

#container {
	position: absolute;
}

#container canvas {
	position: absolute;
}