.weather-display {
	width: 640px;
	height: 480px;
	overflow: hidden;
	position: relative;
	background-image: url(../images/BackGround1_1.png);
	/* background-attachment: fixed; */
}

.weather-display .header {
	width: 640px;
	height: 70px;
	padding-top: 30px;
}

.weather-display .header .title {
	color: yellow;
	text-shadow: 3px 3px black;
	font-family: 'Star4000';
	font-size: 24pt;
	position: absolute;
	left: 170px;
	top: 25px;
}

.weather-display .header .logo {
	top: 30px;
	left: 50px;
	position: absolute; 
}

.weather-display .header .title.single {
	top: 40px;
}

.weather-display .header .date-time {
	white-space: pre;
	color: white;
	font-family: 'Star4000 Small';
	font-size: 24pt;
	text-shadow: 2px 2px black;
	left: 430px;
	position: absolute;
}
.weather-display .header .date-time#date {
	padding-top: 22px;
}


.weather-display .main-has-scroll {
	width: 640px;
	height: 310px;
	overflow: hidden;
}

.weather-display .scroll {
	width: 640px;
	height: 80px;
	overflow: hidden;
}

