$title-color: yellow;
$date-time: white;
$text-shadow: black;
$column-header-text: yellow;
$column-header: rgb(32, 0, 87);

$gradient-main-background-1: #102080;
$gradient-main-background-2: #001040;

$extended-low: #8080FF;