@use 'shared/_colors'as c;
@use 'shared/_utils'as u;

.weather-display .main.regional-forecast {


	position: relative;

	.map {
		position: absolute;
		transform-origin: 0 0;
	}

	// used for measuring the text width for collision box calculation
	.render-test {
		visibility: hidden;
	}

	.location,
	.render-test {
		position: absolute;

		>div {
			@include u.text-shadow();
		}

		.icon {
			display: inline-block;
			top: 26px;

			img {
				max-height: 32px;
			}
		}

		.temp {
			display: inline-block;
			font-family: 'Star4000 Large';
			font-size: 28px;
			padding-top: 2px;
			color: c.$title-color;
			top: 28px;
		}

		.city {
			font-family: Star4000;
			font-size: 20px;
		}
	}


}